* {
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  padding: 1rem;
  background: #fff;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
  }
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and(min-width: 992px) {
  .pokemons {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #49d0b0;
  color: #ffffff;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0 625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
}
.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  padding: 0.25em 0.5em;
  margin: 0.25rem;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
  /* align-self: end; */
}
