.pokemons {
  background: #fff;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.normal {
  background: #a6a877;
}
.grass {
  background: #77c850;
}
.fire {
  background: #ee7f30;
}
.water {
  background: #678fee;
}
.electric {
  background: #f7cf2e;
}
.ice {
  background: #98d5d7;
}
.ground {
  background: #dfbf69;
}
.flying {
  background: #a98ff0;
}
.poison {
  background: #a040a0;
}
.fighting {
  background: #bf3029;
}
.psychic {
  background: #f65687;
}
.dark {
  background: #725847;
}
.rock {
  background: #b8a137;
}
.bug {
  background: #a8b720;
}
.ghost {
  background: #6e5896;
}
.steel {
  background: #b9b7cf;
}
.dragon {
  background: #6f38f6;
}
.fairy {
  background: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #49d0b0;
  color: #ffffff;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0 625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
}
.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  padding: 0.25em 0.5em;
  margin: 0.25rem;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and(min-width: 992px) {
  .pokemons {
    grid-template-columns: repeat(4, 1fr);
  }
}
